.App {
  display: grid;
}
h1{
  color: azure;
}
h2{
  color: aliceblue;
}
.app-wrapper{
  justify-self: center;
  padding: 20px;
  background-image: url('Images/background2.jpg');
  background-repeat: repeat-y;
min-height: 980px;
  width: 1300px;
  height: auto;
}
.tableList{
  color: black;
  padding-top: 20px;
}

.tableStyle{
  background-color: rgba(0, 73, 147, 0.8);
  opacity: 0.8;
}
.rowTableStyle{
  color: azure;
  background-color: rgba(0, 43, 77, 0.79);
}
.rowTableStyle:hover{
  color: black;
}